*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar{
    padding: 0px 10%;
    display: flex;
}
.collection{
    display: flex;
    list-style: none;
    margin-left: 100px;
}
.item{
    padding: 70px 10px 15px 10px;
    margin-left: 5px;
    font-size: 22px;
    font-weight: 100;
    border-radius: 0px 0px 6px 6px;
    transition: .3s;
}
.item:hover{
    background-color: #80c0ff;
    color: white;
    cursor: pointer;
}
.qaychi{
    transition: 0.5s;
}
.logo:hover .qaychi{
    transform: rotate(-60deg);
}
.arber{
    transition: 0.5s;
    transform: translateX(-20px);
}
.logo:hover .arber{
    transform: translateX(-10px);
}
.nav_icons{
    margin-left: 150px;
    padding-top: 50px;
    
}
.nav_icons img{
    width: 30px;
    margin-left: 30px;
}
.btn{
    padding: 12px 30px;
    border-radius: 10px;
    border: none;
    background-color: #80c0ff;
    color: white;
    font-size: 17px;
    box-shadow: 3px 5px 8px #acd5ff;
}
.banner{
    width: 100%;
    height: 600px;
    display: flex;
    padding-left: 10%;
}
.banner_text{
    width: 40%;
    height: 100%;
}
.banner_img{
    width: 60%;
    height: 100%;
    background-image: url(./img/12646\ 1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner_title{
    padding-top: 55px;
    font-size: 50px;
    font-weight: 400;
    width: 80%;
}
.banner_title span{
    color: orange;
}
.banner_desc{
    padding: 40px 0px;
    font-weight: 100;
    width: 60%;
}
.banner{
    width: 100%;
    height: 600px;
    display: flex;
    padding-left: 10%;
}
.banner_text{
    width: 40%;
    height: 100%;
}
.banner_mig{
    width: 90%;
    height: 90%;
    margin-right: 300px;
    background-image: url(./img/13126\ 1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bannner_bittle{
    margin-left: 1px;
    padding-top: 55px;
    font-size: 50px;
    font-weight: 400;
    width: 80%;
}
.bannner_bittle span{
    color: orange;
}
.aa{
    margin-right: 200px;
    margin: 16px;
}
.gtn{
    margin-left: 12px;
    margin-top: 15px;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    background-color: #80c0ff;
    color: white;
    font-size: 17px;
    box-shadow: 3px 5px 8px #acd5ff;
}
.banner_sittle{
    margin-top: 70px;
    margin-right: 300px;
}
.g{
    width: 100%;
    height: 100vh;
    background-color: white;

}
.m{
    width: 100%;
    height: 100%;
    border-radius: 0 0 150px 150px;
    box-shadow: 0 0 13px rgb(153, 188, 252);
    display: flex;
    align-items: center;
    justify-content: center;
}
.k1{
    width: 25%;
    height: 90vh;
    margin-left: 10px;
    border-radius: 30px;
    border-bottom: 2px solid rgb(153, 188, 252);
    background-color: white;
    transition-duration: 0.3s;
}
.k1:hover{
    background-color: rgb(160, 179, 254);
    box-shadow: 0 0 10px rgb(160, 179, 254);
}

.k2{
    width: 30%;
    height: 20%;
    background-color: rgb(226, 235, 253);
    margin: auto; 
    margin-top: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   padding-left: 30px;
   font-size: 30px;
   padding-top: 30px;
   border-radius: 10px;
}
.k3{
    width: 30%;
    height: 20%;
    background-color: rgb(226, 235, 253);
    margin: auto;
    margin-top: 50px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
   font-size: 20px;
   padding: 10px;
   border-radius: 10px;
   transition: 0.4s;
}
.c{
    text-align: center;
    margin:70px 0 70px 0;
    font-size: 40px;
    font-weight: 400;
}
p{
    width: 50%;
    text-align: center;
    margin-left: 100px;
    width: 50%;
    font-size: 15px;
}
